Flask==3.0.0
flask-socketio==5.3.5
python-socketio==5.10.0
pymongo[srv]==4.6.0
dnspython==2.4.2
python-dotenv==1.0.0
werkzeug==3.0.1
gevent==24.2.1
gevent-websocket==0.10.1
reportlab==4.2.2
gunicorn==21.2.0
